*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategrey;
    /* max-width: 10px; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    flex-direction: column;
   
}
/* .container{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid red; */
    /* flex-direction: column; */
/* } */
.textareaBox{
    border: none;
    padding: 0.7rem;
    width: 30rem;
}
.contentData{
    color: white;
    /* border: 2px solid saddlebrown; */
}

